body {
    background-color: #1a1a2e;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #0e0e1b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-group {
    margin: 15px 0;
}

input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-signin {
    background-color: #39d353;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.btn-signin:hover {
    background-color: #34c145;
}

.social-login {
    margin: 20px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 10px;
}